// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$user-cards-primary: mat.define-palette(mat.$indigo-palette);
$user-cards-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$user-cards-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$user-cards-theme: mat.define-light-theme((color: (primary: $user-cards-primary,
        accent: $user-cards-accent,
        warn: $user-cards-warn,
      )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($user-cards-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.user-card {
  width: 600px;
  margin-bottom: 8px;
  margin-top: 8px;
}

.user-details {
  width: 70%;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54);
}

.user-content {
  display: flex;
  flex-direction: row;
}

.user-loader-container {
  display: flex;
  width: 100%;
  float: left;
  justify-content: center;
}

.user-loader {
  margin: 100px;
}

.users-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 100%;
}

.container {
  width: 50%;
  margin: 0 auto;
}

.example-form{
  width: 100%;
}
.number-users-input{
  width: 60%;
  float: left;
}

.button-fetch,
.button-reset{
  width: 20%;
  float: left
}
